/InfiniTAM/
/.vscode/
*.kdev4
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
.DS_Store
x64/
/build/
/buildx/
/freeglut/
/install/
/librealsense/
/Files/Out/out.ppm
/Files/Out/*.ppm
/Files/Teddy/Frames
/*.tags

# QtCreator CMake
CMakeLists.txt.user*

# CLion
\.idea/
